{% extends "customerbase.html" %}
{% block title %}Fun Travel SG{% endblock %}

{% block content %}
<link rel="icon" type="image/x-icon" href="../static/travel-icon.png"> <!-- Icon. Change the path (href) if placed in a different folder. -->
<h1 class="display-4">Homepage</h1>

<div class="bs-example">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <a href="/"><button type="button" class="btn btn-danger btn-lg text-right">Log Out</button></a>
            </div>
        </div>
    </div>
</div>


<h4>Welcome to Fun Travel SG! We hope you have a good time here.</h4>
<img src="https://thumbs.dreamstime.com/b/time-to-travel-wooden-sign-beach-background-49509295.jpg" style="width: 100%;height: auto;">
{% endblock %}
