{% extends "customerbase.html" %}
{% block title %}Fun Travel SG - Cart{% endblock %}

{% block content %}
<link rel="icon" type="image/x-icon" href="../static/travel-icon.png"> <!-- Icon. Change the path (href) if placed in a different folder. -->
<h1 class="display-4">Cart</h1>
<p>This is your cart!</p>

    <div>
        <table>
            <tr> <td>fare</td> <td>Quantity</td> <td>(SGD)</td> </tr>
            <tr> <td>Adult(s)</td> <td>{{ key_info.get_adult() }}</td> <td>{{key_info.get_adult()*2088}}</td></tr>
            <tr> <td>Child(ren)</td> <td>{{ key_info.get_child() }}</td> <td>{{key_info.get_child()*1928}}</td></tr>
            <tr> <td>Infant(s)</td> <td>{{ key_info.get_infant() }}</td> <td>{{key_info.get_infant()}}</td></tr>
            <tr> <td>Total:</td> <td>{{""}}</td> <td>{{key_info.get_adult()*2088+key_info.get_child()*1928+key_info.get_infant()}}</td></tr>
        </table>
    </div>

<a href="/CustomerTransactionForm">
    <button type="button" class="btn btn-primary btn-lg">Proceed To Payment</button>
</a>
{% endblock %}
