{% extends "staffbase.html" %}
{% block title %}FunTravelSG - Staff Package Picker{% endblock %}

{% block content %}
<head>
    <style>
/* unvisited link */
a:link {
color: #515A5A;
background-color: transparent;
text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #0E6655;
}


    </style>
</head>
<h1 class="display-4" style="text-align:center">Staff Package Picker</h1>

<a href="/StaffPackageEditor"<i aria-hidden="true" class="fa fa-plus fa-3x" style="float:right"></i></a>
{% endblock %}
