{% extends "newuserbase.html" %}
{% block title %}Fun Travel SG{% endblock %}

{% block content %}
<link rel="icon" type="image/x-icon" href="../static/travel-icon.png"> <!-- Icon. Change the path (href) if placed in a different folder. -->
<h1 class="display-4">Homepage</h1>
<p>Welcome to Fun Travel SG! We hope you have a good time here.</p>
<img src="https://images.pexels.com/photos/3278215/pexels-photo-3278215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" style="width: 100%;height: auto;">
{% endblock %}
