{% extends "customerbase.html" %}
{% block title %}Fun Travel SG - Packages{% endblock %}

{% block content %}
<link rel="icon" type="image/x-icon" href="../static/travel-icon.png"> <!-- Icon. Change the path (href) if placed in a different folder. -->
<h1 class="display-4">Packages</h1>
<p>This is the Packages Page!</p>

<!-- Temporary Redirect button to Key In Information Page -->
<a href="/CustomerKeyInInformation"><button type="button" class="btn btn-primary btn-lg create-entry-button">Select Package</button></a>
{% endblock %}
