{% extends "staffbase.html" %}
{% block title %}Fun Travel SG{% endblock %}

{% block content %}
<link rel="icon" type="image/x-icon" href="../static/travel-icon.png"> <!-- Icon. Change the path (href) if placed in a different folder. -->
<h1 class="display-4">About Us</h1>
<p>Welcome to Fun Travel SG! We hope you have a good time here.</p>


<div class="container">
    <h1>Who are we?</h1>
    <div class="row">
        <div class="col-md-12">
            <a href="https://ibb.co/L0jLNBW"><img style='float:left;width:200px;height:200px; margin-right:10px;' src="https://i.ibb.co/MgwYBK4/companylogo.png" alt="companylogo" border="0" height="300" width="300"></a>
            <p style="font-size:19px;">We are FunTravelSG, a travel agency based in Singapore <br>
We’re a travel company with 25 years of experience, starting in 1997. <br>
We believe that Singapore is a beautiful place with untapped beauty, and we thus seek to spread the word about Singapore’s beauty and attract them to our garden city. <br>
We’ve been operating 3 outlets in Singapore, 2 outlets in Malaysia and 5 outlets in China, and we seek to expand our reach to the digital market. <br></p>
        </div>
    </div>

    <br style="padding-top:50px;">

    <h1>What is our mission?</h1>
    <div class="row">
        <div class="col-md-12">
            <a href="https://life.futuregenerali.in/Content/images/about/mission.jpg"><img style='float:left;width:200px;height:200px; margin-right:10px;' src="https://life.futuregenerali.in/Content/images/about/mission.jpg" alt="companylogo" border="0" height="300" width="300"></a>
            <p style="font-size:23px;">We seek to increase our sales of tickets and tour packages by going online so that anyone can book their flights at any time.
We also plan to do this via a website for FunTravelSG to sell the packages and tickets, and allow the comparison of different tour packages and flights to find the best price.</p>
        </div>
    </div>

</div>
{% endblock %}
